.App {
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100vw;
}

form {
  width: 500px;
  margin: auto;
  text-align: center;
}
.MuiSelect-root,
.MuiInput-root {
  width: 300px !important;
}

.error {
  color: red;
  margin-top: 0;
}
